{% extends 'quotes/base.html' %} {% block content %}

<h2 class="mid">Add a NEW Movie HERE or EDIT an exisitng one</h2>
{% if form.errors %}
  <ul class='error'>
	{% for error in form.errors %} 
	<h5>You got some typos there pal</h3>
	  <li class='err'>{{ error }}</li>
	  <h5> look below for details on the errors listed above</h5>
    {% endfor %}
  </ul>
{% endif %}  
<form method="POST" class="quote-form">
	{% csrf_token %} {{ form.as_p }}

	<button type="submit" class="save">Save</button>
</form>

 {% endblock %}
