{% extends 'quotes/base.html' %}
{% block content %}
<h2> Movie Name : {{movie.movie_title}}  </h2>
<h4> Edit This Movie : <a class="edit" href="{% url 'movie_edit' pk=movie.pk %}"> CLICK HERE 2 EDIT</a> </h4>
<h2> When was it ? {{movie.movie_release_year}} </h2>
<ul>
{% for quote in movie.quotes.all %}
<li> <h2><i class="fas fa-film"></i> Movie: {{quote.title.movie_title}} <br></br>
      <a class="q" href="{% url 'quote_detail' pk=quote.pk %}"> Quote: </a>
      <i class="fas fa-quote-left"></i>
      {{quote.movie_quote}}
      <i class="fas fa-quote-right"></i>
    </li></h2>
{% endfor %}
 </ul>
<h3>here's a poster or pic from the movie click it for an offsite link</h3>
<h2>to the following address: {{movie.imbd_link}}</h2>
<a href="{{movie.imbd_link}}" target="_blank" >
<img src="{{movie.movie_poster}}" alt="{{movie.movie_title}}"></a>
<br></br>
<a class="delete" href="{% url 'movie_delete' pk=movie.pk %}">Delete Movie</a>

 {% endblock %}