{% load static %}

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<title>BL Movie Quotes</title>
		<link rel="stylesheet" href="{% static 'css/movie.css' %}" />
	</head>
	<body>
		<h1 class="big">Movie Quotes We Love</h1>
		<nav>
			<a class="home" href="{% url 'quote_list' %}">home</a>
		</nav>

		{% block content %} {% endblock %}
	</body>
</html>
