{% extends 'quotes/base.html' %}

{% block content %}

<h2> Movie Name : {{quote.movie_title}}  </h2>
<h2> Link : <a href="{{quote.imbd_link}}" target="_blank" >click for offsite link</a> </h2>
<h4> Edit This Quote : <a href="{% url 'quote_edit' pk=quote.pk %}"> CLICK HERE</a> </h4>
<h2> When was it ? {{quote.movie_release_year}} </h2>
<h2> What was it ? {{quote.movie_quote}} </h2>
<h3>here's a poster or pic from  the movie</h3>
<img src="{{quote.movie_poster}}" alt="{{quote.movie_title}}">
<br></br>
<a href="{% url 'quote_delete' pk=quote.pk %}">Delete Me</a>

 {% endblock %}