{% extends 'quotes/base.html' %}

{% block content %}

<h2> The awesome list of movie quotes !</h2>
<h3> Simply click the word Quote: beside the quote to see it's details</h3> 
<ul>
{% for quote in quotes %}
<li> <h2><i class="fas fa-film"></i> Movie: {{quote.title}} <br></br>
      <a class="q" href="{% url 'quote_detail' pk=quote.pk %}"> Quote: </a>
      <i class="fas fa-quote-left"></i>
      {{quote.movie_quote}}
      <i class="fas fa-quote-right"></i>
    </li></h2>
{% endfor %}
 </ul>

 {% endblock %}