{% extends 'quotes/base.html' %}

{% block content %}

<h2 class="mid"> The awesome list of movie quotes !</h2>
<h3 class="mid"> Simply click the word Quote: beside the quote to see it's details</h3> 
<ul>
{% for quote in quotes %}
<li> <h2><i class="fas fa-film"></i> Movie: {{quote.title}} <br></br>
      <a class="q" href="{% url 'quote_detail' pk=quote.pk %}"> Quote: </a>
      <i class="fas fa-quote-left qt"></i>
      {{quote.movie_quote}}
      <i class="fas fa-quote-right qt"></i>
    </li></h2>
    <br></br>
    <h6>________________________________________________</h6>
    <br></br>
{% endfor %}
 </ul>

 {% endblock %}